<section class="list">

  <div class="container">
    <div class="header">
    <h2>PYTANIA</h2>
    <button class="new" routerLink="add">add new</button>
  </div>
  <mat-divider></mat-divider>
    <table mat-table [dataSource]="questions$ | async" class="mat-elevation-z8">





      <ng-container matColumnDef="categoryId">
        <th mat-header-cell *matHeaderCellDef>kategoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>




      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> pytanie </th>
        <td mat-cell *matCellDef="let element"> {{element.description  | slice:0:20}} .. </td>
      </ng-container>
  

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> akcje </th>
        <td class="actions" mat-cell *matCellDef="let element">
          <button class="edit" routerLink="/admin/questions/edit/{{element.id}}" >edit</button>
          <button (click)="delete(element.id)" class="delete" >delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>
