<div class="card">
  <div class="card-question">
    <h2>{{quizCard.description}}</h2>
  </div>
  <div class="card-content">
    <div class="card-content_answers">
      <span (click)="selectAnswer(answer.id)" [class.active]="selectedAnswer==answer.id" *ngFor="let answer of quizCard.answers">{{answer.label}} {{answer.id}}</span>
    </div>
    <div class="card-content_nav">
      <button (click)="confirmAnswer()" [disabled]="selectedAnswer == -1"> <i class="fa-regular fa-circle-right"></i></button>

    </div>

  </div>
</div>