<div class="container">
  <button class="back " routerLink="/admin/categories"><< powrót</button>
  <mat-card>
    <mat-card-title> <h3><b>dodaj kategorię</b></h3></mat-card-title>
    <mat-divider></mat-divider>
    <form [formGroup]="categoryAddForm" class="p-3" action="">
    

      <div class="m-2">
        <mat-form-field appearance="fill">
          <mat-label>tytuł</mat-label>
          <input formControlName="title" type="text" matInput>
        </mat-form-field>
      </div>
      <div class="m-2">
        <mat-form-field appearance="fill">
          <mat-label>obrazek</mat-label>
          <input formControlName="image" type="text" matInput>
        </mat-form-field>
      </div>



      <button (click)="categoryAdd(categoryAddForm.value)" class="add" type="submit">DODAJ</button>
    </form>
  </mat-card>
  {{categoryAddForm.value | json}}
</div>