.admin {
    min-height: 100vh;
    width: auto;
    background-image: linear-gradient(to bottom, #5b446a, #906387);
    display: flex;

    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;
  

    &-content {
        min-height: 100vh;
        min-width: 80vw;
        background-color: antiquewhite;
        border-radius: 1rem;

        h2 {
            font-size: calc(2rem + 1vh);
            font-weight: 900;
            color: white;
            text-transform: uppercase;
            text-align: center;
            padding: 2rem;
            text-shadow: 6px 3px 5px rgba(66, 68, 90, 1);
        }
       
    }
    .header{
      
        background: url("/assets/showcase.png");
        background-color: #906387;
        background-position: center;
        background-repeat: repeat;
    



        min-height: 20vh;
    }

    .toolbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid black;


    }

    span {
        cursor: pointer;
        padding: 2vh;
    }

    .active {
        background-color: #7dd87d;

    }
}