<div class="container">
  <i routerLink="/admin/categories" class="fa-solid fa-arrow-left-long">back</i>
<mat-card >
  <div *ngIf="categoryEditForm" class="container-fluid">
   <mat-card-title> <h3><b>edit category</b></h3></mat-card-title>
   <mat-divider></mat-divider>
    <form  [formGroup]="categoryEditForm"  class="p-3" action="">
  <div class="m-2">
      <mat-form-field appearance="fill">
        <mat-label>name</mat-label>
        <input formControlName="name" type="text" matInput>
      </mat-form-field>
    </div>
  
  <div class="m-2">
      <mat-form-field appearance="fill">
        <mat-label>thumbnail</mat-label>
        <input formControlName="thumbnail" type="text" matInput>
      </mat-form-field>
    </div>
  <div class="m-2">
      <mat-form-field appearance="fill">
        <mat-label>image</mat-label>
        <input formControlName="image" type="text" matInput>
      </mat-form-field>
    </div>
    <div class="m-2">
      <mat-checkbox  formControlName="active" >Published</mat-checkbox>
    </div>
  
  
    <button (click)="editCategory(categoryId,categoryEditForm.value)" mat-flat-button color="accent" type="submit">ADD</button>
    </form>
  </div>
  
  </mat-card>
</div>